{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": ["^@emotion/(.*)$", "^react", "^next", "^next/(.*)$", "^./(.*)$", "^~(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
